streamlit
langchain
chromadb
yfinance
beautifulsoup4
gnews
nemoguardrails
langchain-community 
sentence-transformers
pypdf 
langchain-community
pandas
openpyxl
tabulate
streamlit-oauth
extra-streamlit-components
youtube-transcript-api>=0.6.2
yt-dlp>=2024.1.1
pydantic>=2.0
